<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login form</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">
</head>
<body>
<div class="brand"><font color="#6495ed">Waste transportation service</font></div>
<div class="container-fluid" style="font-size: 150%">
    <div class="box">
        <form action="/login" method="get">
            <input type="submit" class="btn-lg btn-primary" value ="Login"/>
        </form>
        <h2 class="intro-text text-center">Registration page</h2>
        <br/>
        <div class="container" style="width: 30vw">
            <form class="text-center">
                <div class="form-group">
                    <label for="login"> User Name: </label>
                    <input type="text" class="form-control" name="login" id="login"/>
                </div>
                <div class="form-group">
                    <label for="email"> Email: </label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="password"> Password:</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <div class="form-group">
                    <label for="password"> Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" required>
                </div>
                <div class="form-group">
                    <label for="role">User role</label>
                    <select id="role" class="form-control input-md">
                        <option selected>TOURIST</option>
                        <option>VOLUNTEER</option>
                    </select>
                </div>
                <input type="button" class="btn-lg btn-primary" style="margin-top: 30px" value="Register" onclick="postUser()"/>
            </form>
        </div>
        <br/>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

    var login = document.getElementById("login")
    var passw = document.getElementById("password")
    var passw_conf = document.getElementById("confirm_password")
    var role = document.getElementById("role")
    var email = document.getElementById("email")

    var postUser = function () {
        if (passw.value !== passw_conf.value) {
            alert('Passwords do not match');
            return;
        } else {
            $.ajax({
                type: 'POST',
                url: '/registration',
                data: JSON.stringify({
                    'login': login.value,
                    'password': passw.value,
                    'role': role.value,
                    'email': email.value
                }),
                success: function(result) {
                    window.location.replace("/login");
                },
                contentType: 'application/json',
                sync: true,
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseText);
                    alert(jqXHR.responseText);
                }
            });
        }

    }
</script>
</body>
</html>