<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Waste transportation system</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/business-casual.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@js-joda/core@1.11.0/dist/js-joda.js"></script>

</head>
<body>

<div class="brand"><font color="#6495ed">Waste transportation service</font></div>
<div class="address-bar"><font color="#6495ed">A cleaning today keeps the landfills away</font></div>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">WTS. Request</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="volunteer" id="menu_request" style="visibility: visible">Requests</a>
                </li>
                <li>
                    <a href="statistic" id="menu_statistics" style="visibility: visible">Statistics</a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <br/>
                        <input type="submit" class="btn-lg btn-primary" value="Sign Out"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" style="font-size: 150%">
    <div class="box">
        <form>
            <div class="form-group col">
                <h3 class="intro-text text-center">Statistic
                </h3>
                <br>
                <div class="col-sm-7 text-center">
                    <div class="form-group col">
                        <input type="text" readonly class="form-control-plaintext" id="latitude" value="Latitude">
                        <input type="text" readonly class="form-control-plaintext" id="longitude" value="Longitude">
                        <input type="text" hidden class="form-control-plaintext" id="requestId" value="0">
                    </div>
                    <br/>
                    <div id="map" style="height: 400px;"></div>
                </div>

                <div class="container col-sm-4" style="margin-top: 25px">
                    <div class="tab-content" id="panel1" style="display: inline">
                        <div class="tab-pane fade in active" style="margin-top: 25px">

                            <div class="form-group row">
                                <label class="col-sm-5">Start date</label>
                                <div class="col-sm-7">
                                    <input type="datetime-local" class="form-control input-lg" id="startDate" placeholder="none" value="2017-06-01T08:30">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5">End date</label>
                                <div class="col-sm-7">
                                    <input type="datetime-local" class="form-control input-lg" id="endDate" placeholder="none" value="2021-06-01T08:30">
                                </div>
                            </div>

                            <div class="form-group row text-center" style="margin-top: 25px">
                                <button type="button" class="btn-lg btn-primary mb-3" onclick="getChanges()">Get Changes
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" style="font-size: 150%">
    <div class="box">
        <form>
            <div class="form-group col">
                <h3 class="intro-text text-center">Request Changes:
                </h3>
                <br>
                <p id="showData" class="table"></p>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid" style="font-size: 150%">
    <div id="barchart" style="width: 90vw; height: 500px;"> </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">

    google.charts.load('current', {'packages':['bar']});
    var LocalDateTime = JSJoda.LocalDateTime;
    var LocalDate = JSJoda.LocalDate;
    // Create map
    var map = L.map('map').setView([61.2302, 30.0495], 13);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Create layer group to draw markers
    var markerGroup = L.layerGroup().addTo(map);

    // Save all markers to provide it's id
    var markers = {};
    var requests = {};

    //
    var blockMarkers = false;

    // Get interface elements
    var longitude = document.getElementById('longitude');
    var latitude = document.getElementById('latitude');
    var requestId = document.getElementById('requestId');
    var updPanel = document.getElementById('panel2');
    var getPanel = document.getElementById('panel1');
    var startDate = document.getElementById('startDate');
    var endDate = document.getElementById('endDate');

    function createMarker(request) {
        markers = [];  //clear markers struct
        markerGroup.clearLayers();
        markers[request.id] = L.marker([request.latitude, request.longitude]).addTo(markerGroup)
            .bindPopup("<b>Request</b>"
                + "<br/>Type: " + request.dumpType
                + "<br/>Size: " + request.size
                + "<br/>Status: " + request.status
                + "<br/>Description: " + request.description)
            .on('click', selectMarker);
    }

    function createTableFromJSON(myJson) {

        var col = [];
        for (var i = 0; i < myJson.length; i++) {
            for (var key in myJson[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }
        console.log(col)
        var table = document.createElement("table")
        table.className = "table";
        var tr = table.insertRow(-1);
        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");
            th.innerHTML = col[i];
            tr.appendChild(th);
        }
        for (var i = 0; i < myJson.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                if (col[j] === "request") {
                    let item = myJson[i][col[j]];
                    let btnActivate = document.createElement("BUTTON");
                    btnActivate.textContent = myJson[i][col[j]].id;
                    btnActivate.type = "button";
                    btnActivate.style = "border: none; background-color: Transparent"
                    btnActivate.onclick = function(){
                        createMarker(item);
                        return false;
                    };
                    console.log(item)
                    tabCell.appendChild(btnActivate)
                } else {
                    tabCell.innerHTML = myJson[i][col[j]];
                }


            }
        }
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }

    function getChanges(){
        $.ajax({
            type: 'GET',
            url: 'statistic/requestChanges',
            contentType: 'application/json',
            data: {
                "startDate": startDate.value,
                "endDate": endDate.value
            },
            async: true,
            success: function (result) {

                // var obj = JSON.parse(result);
                requests = [];
                markers = [];  //clear markers struct
                markerGroup.clearLayers();
                console.log(result)
                createTableFromJSON(result.requestChanges)
                drawChart(result.requestChanges)
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Could not get changes: ' + jqXHR.responseText);
            }
        });
    }

    function drawChart(jsonArray) {
        /*var data = google.visualization.arrayToDataTable([
            ['Year', 'Sales', 'Expenses', 'Profit'],
            ['2015-01-01', 1000, 400, 200],
            ['2015-01-03', 1170, 460, 250],
            ['2015-01-30', 660, 1120, 300],
            ['2015-01-20', 1030, 540, 350]
        ]);*/

        var data = google.visualization.arrayToDataTable(getData(jsonArray));

        var options = {
            chart: {
                title: 'Performance',
                subtitle: 'Processed requests',
            },
            bars: 'vertical' // Required for Material Bar Charts.
        };



        var chart = new google.charts.Bar(document.getElementById('barchart'));
        chart.draw(data, google.charts.Bar.convertOptions(options));
    }

    function getData(jsonArray) {
        const myMap = new Map();
        jsonArray.forEach(function (item, index, array) {
            console.log(item);
            date = LocalDateTime.parse(item.updatedWhen).toLocalDate().toString();
            let entry = myMap.get(date);
            if (entry === undefined) {
                entry = [0, 0, 0]
            }
            if (item.to === "COMPLETED") {
                entry[0] = entry[0] + 1;
            }
            if (item.to === "CANCELLED") {
                entry[1] = entry[1] + 1;
            }
            if (item.to === "WAITING") {
                entry[2] = entry[2] + 1;
            }
            myMap.set(date, entry)
        });
        console.log(myMap);
        result = [];
        result.push(['Date', 'Completed', 'Cancelled', 'Waiting'])
        myMap.forEach(function(value, key) {
            result.push([key, value[0], value[1], value[2]])
        });
        console.log(result);
        return result
    }
</script>

</body>
</html>